<!DOCTYPE html>
<html>
	<head>

		<title>HOME - BTMS</title>
		<link rel="stylesheet" type="text/css" href="css/home.css">

	</head>

	<body class="bg-image">
		
		<header>
			<h1>Bus Ticket Management System</h1>
		</header>

		<nav align="right">
			<ul>
				<li><a href="./home.html">Home</a></li>
				<li><a href="./adminReg.php">Admin</a></li>
				<li><a href="./customerReg.php">Customer</a></li>
		</nav>

		<div class="container">
			<div class="home-box">
				<main>
					<h2>WELCOME!</h2>
					<p>let's begin your journey EASY</p>
					<p>Use the navigation menu to manage tickets</p>
					<img src="../assets/giphy.gif" width="130" height="110">
				</main>
			</div>
		</div>

		<footer>
			<p>BTMS &copy; 2023</p>
		</footer>

	</body>
</html>
