body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0B4C84;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #f3e9d0;
  text-decoration: none;
}

nav a:hover {
  color: #81f0a6;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

form input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

form input[type="submit"]:hover {
  background-color: #3e8e41;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: -1px;
  position: absolute;
  bottom: 0;
  width: 100%;
}